.nondis {display: none;}

/* Крупные блоки и управление ими через чекбокс*/
article {flex-direction: row;}
article > div {display: flex;}
#left-column {flex-direction: row;}
#right-column {flex-direction: column;}
#close-left-column {display: block; background: skyblue; cursor: pointer;}
@media all and (min-width: 1400px) {
  #left-column {margin: 10px 5px 10px 20px; min-width: 530px; max-width: 530px;}
  #left-column-content {min-width: 500px; max-width: 500px; margin-right: 10px;}
  #left-column-checkbox:checked + #left-column {min-width: 20px; max-width: 20px;}
  #close-left-column {margin: -5px; border-radius: 0 8px 8px 0; min-width: 0; max-width: 30px;}
  #left-column-checkbox:checked + #left-column #close-left-column {border-radius: 8px;}
  #right-column {margin: 10px 20px 10px 5px; flex-grow: 1;}}
@media all and (min-width: 700px) and (max-width: 1400px) {
  #left-column {margin: 0.5vw 0.25vw 0.5vw 1vw; min-width: 400px; max-width: 400px;}
  #left-column-content {min-width: 370px; max-width: 370px; margin-right: 10px;}
  #left-column-checkbox:checked + #left-column {min-width: 20px; max-width: 20px;}
  #close-left-column {margin: -5px; border-radius: 0 8px 8px 0; min-width: 0; max-width: 30px;}
  #left-column-checkbox:checked + #left-column #close-left-column {border-radius: 8px;}
  #right-column {margin: 0.5vw 1vw 0.5vw 0.25vw; flex-grow: 1;}}
@media all and (max-width: 700px) {
  #left-column {min-width: 30px; max-width: 30px; margin: 0; padding: 0;}
  #left-column-checkbox:checked + #left-column {min-width: 100%; max-width: 100%; padding: 0;}
  #left-column-content {display: none;}
  #left-column-checkbox:checked + #left-column #left-column-content {display: block; min-width: calc(100% - 40px); max-width: calc(100% - 40px); right: 0; top: 30px; position: sticky; max-height: 98vh; overflow-y: scroll; z-index: 99;}
  #close-left-column {margin: 0; min-width: 30px; max-width: 30px;}
  #left-column-checkbox:checked + #left-column #close-left-column {margin: 0; min-width: 30px; max-width: 30px;}
  #left-column-checkbox:checked + #left-column #close-left-column snap::before {content: "\2193   Скрыть оглавление и другое   \2193";}
  #close-left-column snap::before {content: "\2191   Показать оглавление и другое   \2191";}
  #right-column {flex-grow: 1;}}
#left-column-checkbox {display: none;}
#close-left-column p {display: block; right: 0; top: 0; z-index: 99; position: sticky; text-align: center; letter-spacing: 1px;
  width: 95vh; height:30px; transform-origin: left; transform: translateX(12px) translateY(0) rotate(90deg);}
@media all and (min-width: 700px) {
  #left-column-content {display: block; right: 0; top: 0; position: sticky; max-height: 98vh; overflow-y: scroll;}
  #left-column-checkbox:checked + #left-column {background: skyblue;}
  #left-column-checkbox:checked + #left-column #left-column-content {display: none;}
  #left-column-checkbox:checked + #left-column #close-left-column snap::before {content: "\2191   Показать оглавление и другое   \2191";}
  #close-left-column snap::before {content: "\2193   Скрыть оглавление и другое   \2193";}}

/* Заголовки (в левой скрываемой колонке)*/
@media all and (min-width: 1400px) {
  #left-column h1, #left-column h2 {margin: 0; padding: 0; text-align: center;}
  #left-column h1 {font-size: 36px; transform: scaleY(1.5); letter-spacing: 0; line-height: 60px;}
  #left-column h2 {font-size: 26px; transform: scaleY(1.1); line-height: 40px;}}
@media all and (min-width: 700px) and (max-width: 1400px) {
  #left-column h1, #left-column h2 {margin: 0; padding: 0; text-align: center;}
  #left-column h1 {font-size: 30px; transform: scaleX(0.9) scaleY(1.5); letter-spacing: 0; line-height: 60px;}
  #left-column h2 {font-size: 26px; transform: scaleY(0.9); line-height: 40px;}}
@media all and (max-width: 700px) {
  #left-column h1, #left-column h2 {margin: 0; padding: 0; text-align: center;}
  #left-column h1 {font-size: 6vw; transform: scaleY(1.5); letter-spacing: 0; line-height: 12vw;}
  #left-column h2 {font-size: 5vw; transform: scaleY(1.1); line-height: 8vw;}}

/* Таблица оглавления (в левой скрываемой колонке)*/
div.contents {align-self: center;}
ul {display: flex; flex-direction: column; list-style-type: none; margin: 0 0 5px 0; padding: 0;}
li {display: block; padding: 13px 10px 5px 10px; margin: 0; z-index: 2;}
li > a > p.this_page {color: forestgreen;}
li > a > p:hover, li > a > p.big-link:hover {transform: scaleY(1.1);}
@media all and (min-width: 1400px) {
  #contents {max-width: 500px; margin: 0; padding: 0;}
  li > a > p.big-link, li > p.big-link {line-height: 0;}
  li > a > p:after, li > a > .big-link::after {display: inline-block;}
  li > a > p {line-height: 0; margin: 0;}}
@media all and (min-width: 700px) and (max-width: 1400px) {
  #contents {max-width: 370px; margin: 0; padding: 0;}
  li > a > p.big-link, li > p.big-link {line-height: 0;}
  li > a > p:after,  li > a > .big-link::after {display: inline-block;}
  li > a > p {line-height: 0; margin: 0;}}
@media all and (max-width: 700px) {
  #contents {max-width:100%; margin: 0; padding: 0;}
  li > a > p.big-link, li > p.big-link {line-height: 0;}
  li > a > p:after,  li > a > .big-link::after {display: inline-block;}
  li > a > p {line-height: 0; margin: 0;}}

@media all and (min-width: 500px) {
  li > a > p.big-link, li > p.big-link {font-size: 22px; font-style: bold; font-variant: normal; margin: 3px 0; text-align: left; letter-spacing: 1px;}
  li > a > p {font-size: 16px; letter-spacing: 0.6px; margin: 0; text-align: left;}
  li > a > p:after, li > a > .big-link::after {content: "\27A5"; vertical-align:-4px; text-align: right; flex-grow: 1; margin-left: auto; margin-right: 0; width: 100%; transform: translateY(-2px);}}
@media all and (max-width: 500px) {
  li > a > p.big-link, li > p.big-link {font-size: 21px; font-style: bold; font-variant: normal; margin: 3px 0; text-align: left; letter-spacing: 0.25px;}
  li > a > p {font-size: 15px; letter-spacing: 0.1px; margin: 0; text-align: left;}}

/* Картинка обложки книги (в аннотации)*/
#right-column a.book-pic-link {margin: 20px auto 5px auto;}
#right-column img.book-pic {width: 100%; margin: 0;}
#right-column p.pic-alt {display: block; min-height: 30px; margin: 0 auto; background: lightgray; text-align: center; line-height: 30px; text-indent: 0;}
@media all and (min-width: 1400px) {
  #right-column p.pic-alt, #right-column img.book-pic {border-radius: 8px;}
  #right-column a.book-pic-link, #right-column p.pic-alt {width: 620px;}}
@media all and (max-width: 1400px) {#right-column a.book-pic-link, #right-column p.pic-alt {width: 80%;}}

/* Заголовки и текст (в правой колонке)*/
#right-column-fields {max-width: 900px; margin: 0 auto;}
#right-column h1, #right-column h2, #right-column h3, #right-column h4 {margin: 0; text-align: center;}
#right-column h1 {padding: 20px; transform: scaleY(1.1); letter-spacing: 0; line-height: 40px;}
@media all and (max-width: 1000px) {#right-column h1 {display: none;}}
#right-column h2 {padding: 10px; font-size: 26px; transform: scaleY(1.1); line-height: 20px;}
#right-column h2.part-number {font-size: 30px; margin: 25px auto 6px auto;}
#right-column h2.part-name {font-size: 30px; margin: 6px auto 45px auto;}
#right-column h3 {padding: 10px; font-size: 20px; transform: scaleY(1.1); line-height: 25px;}
#right-column h3.chapter-number {margin: 25px auto -6px auto;}
#right-column h3.chapter-name {margin: -6px auto 7px auto;}
#right-column p {font-size: 18px; line-height: 22px; letter-spacing: 0.2px; text-align: justify; text-indent: 35px;}
#right-column p.link {font-size: 20px; line-height: 22px; letter-spacing: 0.2px; margin: 0 70px; text-align: center;}
#right-column p.epigraph, #right-column p.epigraph-author {text-align: right; font-style: italic; text-indent: 0;}
#right-column p.epigraph {font-weight: 200;}
#right-column p.epigraph-author {font-weight: 400;}
@media all and (min-width: 1400px) {
  #right-column p {margin: 0 70px;}
  #right-column p.epigraph, #right-column p.epigraph-author {font-size: 16px; letter-spacing: 1px;}
  #right-column p.epigraph {line-height: 30px; margin: 0 120px 0 0; transform: scaleY(1.4);}
  #right-column p.epigraph-author {line-height: 34px; margin: 0 120px 10px 0; transform: scaleY(1.4);}}
@media all and (min-width: 700px) and (max-width: 1400px) {
  #right-column p {margin: 0 10%;}
  #right-column p.epigraph, #right-column p.epigraph-author {font-size: 15px; letter-spacing: 0.6px;}
  #right-column p.epigraph {padding: 8px 0; line-height: 14px; margin: 0 13% 0 0; transform: scaleY(1.4);}
  #right-column p.epigraph-author {padding: 12px 0; line-height: 18px; margin: 0 13% 10px 0; transform: scaleY(1.4);}}
@media all and (max-width: 700px) {
  #right-column p {margin: 0 5%;}
  #right-column p.epigraph, #right-column p.epigraph-author {font-size: 15px; letter-spacing: 0.6px;}
  #right-column p.epigraph {padding: 8px 0; line-height: 14px; margin: 0 10% 0 0; transform: scaleY(1.4);}
  #right-column p.epigraph-author {padding: 12px 0; line-height: 18px; margin: 0 10% 10px 0; transform: scaleY(1.4);}}

/* Девайдер в тексте правой колонки SVG*/
#right-column div.section-simbol {margin: 25px auto 6px auto; width: 140px; height: 10px; background-repeat: no-repeat; background-size: 100% 100%;
  background-image: url("data:image/svg+xml; utf8; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNDAnIGhlaWdodD0nMjQnPjxwYXRoIHN0eWxlPSdmaWxsOiMzMzM7JyBkPSdtIDcwLDI0IDUsLTEwIDMsMCA1LDcgNSwtNyA3LDAgMTAsNSAzNSwtNSAwLC00IC0zNSwtNSAtMTAsNSAtNywwIC01LC03IC01LDcgLTMsMCAtNSwtMTAgLTUsMTAgLTMsMCAtNSwtNyAtNSw3IC03LDAgLTEwLC01IC0zNSw1IDAsNCAzNSw1IDEwLC01IDcsMCA1LDcgNSwtNyAzLDAgeicvPjwvc3ZnPg==");}

/*<svg xmlns='http://www.w3.org/2000/svg' width='140' height='24'><path style='fill:#333;' d='m 70,24 5,-10 3,0 5,7 5,-7 7,0 10,5 35,-5 0,-4 -35,-5 -10,5 -7,0 -5,-7 -5,7 -3,0 -5,-10 -5,10 -3,0 -5,-7 -5,7 -7,0 -10,-5 -35,5 0,4 35,5 10,-5 7,0 5,7 5,-7 3,0 z'/></svg>

 #right-column div.section-simbol {margin: 25px auto 6px auto; width: 140px; height: 10px; background-repeat: no-repeat; background-size: 100% 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='140' height='24'><path style='fill:#333;' d='m 70,24 5,-10 5,0 5,7 5,-7 5,0 10,5 35,-5 0,-4 -35,-5 -10,5 -5,0 -5,-7 -5,7 -5,0 -5,-10 -5,10 -5,0 -5,-7 -5,7 -5,0 -10,-5 -35,5 0,4 35,5 10,-5 5,0 5,7 5,-7 5,0 z'/></svg>");}

#right-column div.section-simbol {margin: 25px auto 6px auto; width: 110px; height: 20px; background-repeat: no-repeat; background-size: 100% 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='110' height='40'><path style='fill:none;stroke:#333;stroke-width:3px;' d='m 55,22 20,5 35,-5 0,-4 -35,-5 -20,5 -20,-5 -35,5 0,4 35,5 z'/><circle cx='55' cy='20' r='9' style='fill:#ECECEC;stroke:#333;stroke-width:3px;'/></svg>");}*/
