/* Отключённые кнопки в шапке сайта*/
#header-music, #header-blog, #header-about, #header-poetry {display: none;}

/* Шапка сайта*/
header {padding: 0 0 10px 0;}
header p.header-name {font-family: helios; color: var(--w); text-align: center; margin: 0; padding: 0; width: inherit;}
header p.header-tagline {font-family: helv; font-weight: 500; color: var(--w); text-align: center; margin: 0; padding: 0; width: inherit;}
nav > a, nav > a:visited, nav > h1 {filter: drop-shadow(0 0 5px var(--t)); }
nav a, nav a:visited, nav h1 {display: block; flex-grow: 1; background: skyblue;
  box-shadow: inset 0px 1px 0px 0px #dcecfb, inset 0 0 2px white;
  background: var(--buttons-bg); background-color: skyblue; border:1px solid #84bbf3;
  color: #fefefe; font-family: helv; text-decoration:none; text-shadow:0px 1px 0px #528ecc;}
nav a:hover, nav a:visited:hover {background: var(--buttons-hover-bg); color:#ffffff; text-decoration:none;	background-color:skyblue;}
@media all and (min-width: 700px) {
  #header-404,
  nav div {display: none;}
  nav h1 {position: relative; transform: scaleY(1.1); filter: hue-rotate(-40deg) drop-shadow(0 0 5px var(--t));}
  nav a, nav a:visited, nav h1 {border-radius: 8px; text-align: center;}
  nav h1::after, nav h1::before {content: "."; color: transparent; font-size: 0;
    position: absolute; display: block; bottom: 0; width: 40px; height: 5px; border-top: 1px solid #84bbf3; border-bottom: 1px solid #84bbf3;
    background: var(--buttons-bg); background-color:skyblue; }
  nav h1::before {right: 50%; transform-origin: right bottom; transform: translateY(15px) translateX(0.6px) scale(1.03) skewY(6deg);
    border-radius: 12px 0 0 12px; border-left: 1px solid #84bbf3; box-shadow: inset 2px 0 2px white;}
  nav h1::after {left: 50%; transform-origin: left bottom; transform: translateY(15px) translateX(-0.6px) scale(1.03) skewY(-6deg);
    border-radius: 0 12px 12px 0; border-right: 1px solid #84bbf3; box-shadow: inset -2px 0 2px white;}}
@media all and (min-width: 1400px) {
  header {width: 1400px; margin: 0 auto;}
  header p.header-name {font-size: 110px; line-height: 90px; letter-spacing: 10px; text-shadow: 0 0 20px var(--t), 0 0 15px var(--t), 0 0 10px var(--t), 0 0 5px var(--t);
    transform: translateX(5px) scaleX(1) scaleY(0.6);}
  header p.header-tagline {font-size: 23px; letter-spacing: 3px; text-shadow: 0 0 10px var(--t), 0 0 5px var(--t);
    transform: translateX(5px) scaleX(1.09) scaleY(0.9);}
  nav {display: flex; flex-direction: row; margin: 0 auto 10px auto; width: 1380px; padding: 0;}
  nav a, nav a:visited, nav h1 {margin: 10px; font-size:20px; font-weight: 700; padding:6px 24px;}}
@media all and (min-width: 1100px) and (max-width: 1400px) {
  header {width: 100%; margin: 0;}
  header p.header-name {font-size: 110px; line-height: 90px; letter-spacing: 10px; text-shadow: 0 0 20px var(--t), 0 0 15px var(--t), 0 0 10px var(--t), 0 0 5px var(--t);
    transform: translateX(5px) scaleX(1) scaleY(0.6);}
  header p.header-tagline {font-size: 23px; letter-spacing: 3px; text-shadow: 0 0 10px var(--t), 0 0 5px var(--t);
    transform: translateX(5px) scaleX(1.09) scaleY(0.9);}
  nav {display: flex; flex-direction: row; margin: 0 0.5vw 10px 0.5vw; width: inherit; padding: 0;}
  nav a, nav a:visited, nav h1 {margin: 0.5vw; font-size:20px; font-weight: 700; padding:6px 0;}}
@media all and (min-width: 700px) and (max-width: 1100px) {
  header {width: 100%; margin: 0;}
  header p.header-name {font-size: 10vw; line-height: 8vw; letter-spacing: 1vw; text-shadow: 0 0 2vw var(--t), 0 0 1.5vw var(--t), 0 0 1vw var(--t), 0 0 0.5vw var(--t);
    transform: translateX(0.25vw) scaleX(1) scaleY(0.6);}
  header p.header-tagline {font-size: 2vw; letter-spacing: 0.2vw; text-shadow: 0 0 1vw var(--t), 0 0 0.5vw var(--t);
    transform: translateX(0.25vw) scaleX(1.09) scaleY(0.9);}
  nav {display: flex; flex-direction: row; margin: 0 0.5vw 10px 0.5vw; width: inherit;}
  nav a, nav a:visited, nav h1 {margin: 0.5vw; font-size:16px; font-weight: 700; padding:6px 0;}}
@media all and (max-width: 700px) {
  #nav-menu:target #mobile-menu-close, #nav-menu #mobile-menu-open {display: block; position: fixed; top: 0; right: 0; z-index: 994; height: 30px; width: 30px;}
  #nav-menu:target #mobile-menu-open, #nav-menu #mobile-menu-close {display: none;}
  #nav-menu:target #mobile-menu-close::after,
  #nav-menu:target #mobile-menu-close::before,
  #nav-menu #mobile-menu-open::after {display: block; position: fixed; top: 15px; right: 15px; z-index: 996; content: ""; width: 18px; height: 3px; background: #fefefe;}
  #nav-menu #mobile-menu-open::after {box-shadow: 0 7px 0 #fefefe, 0 -7px 0 #fefefe; transform: translateY(-1.5px) translateX(9px);}
  #nav-menu:target #mobile-menu-close::after {transform: translateY(-1.5px) translateX(9px) rotate(45deg);}
  #nav-menu:target #mobile-menu-close::before {transform: translateY(-1.5px) translateX(9px) rotate(-45deg);}
  #nav-menu {position: fixed; top: 0; left: 0; width: 100%; margin: 0; background: tan; z-index: 992;}
  #nav-menu > a {display: none;}
  #nav-menu:target > a {display: block; padding-left: 5px; height: 30px; line-height: 30px;}
  #nav-menu h1 {margin: 0; padding-left: 5px; filter: hue-rotate(-40deg) drop-shadow(0 0 5px var(--t)); height: 30px; line-height: 30px;}
  header {width: inherit; margin: 30px 10px 0 10px;}
  header p.header-name {font-size: 55px; line-height: 70px; letter-spacing: 6px; text-shadow: 0 0 10px var(--t), 0 0 7.5px var(--t), 0 0 5px var(--t), 0 0 2.5px var(--t); margin: 0; transform: scaleY(0.9);}
  header p.header-tagline {font-size: 14px; letter-spacing: 1px; text-shadow: 0 0 5px var(--t), 0 0 2.5vw var(--t); margin: 0 10px;}}

#nav-menu:target #header-music, #nav-menu:target #header-blog, #nav-menu:target #header-about {display: none;}
