/* Основные блоки */
article {display: flex; flex-direction: column; padding: 0;}
@media all and (min-width: 1400px) {article {width: 1400px; margin: 0 auto;}}
@media all and (max-width: 1400px) {article {width: 100%; margin: 0;}}
article > div {padding: 5px; background: var(--w);}
@media all and (min-width: 1400px) {article > div {margin: 10px 20px; border-radius: 8px; border: 0.2px solid dimgray; min-width: 270px; box-shadow: 0 0 5px var(--t);}}
@media all and (min-width: 700px) and (max-width: 1400px) {article > div {margin: 0.5vw 1vw; border-radius: 8px; border: 0.2px solid dimgray; min-width: 270px; box-shadow: 0 0 5px var(--t);}}
@media all and (max-width: 700px) {article > div {margin: 0; padding-top: 20px; border-bottom: 2px solid var(--t);}}
/* 404 -- объявление ошибки */
article h1 {font-family: helv; font-weight: 900; font-variant: small-caps; color: #444;}
@media all and (min-width: 700px) {article h1 {font-size: 50px; line-height: 50px; letter-spacing: 4px; transform: scaleX(1.05);}}
@media all and (min-width: 450px) and (max-width: 700px) {article h1 {font-size: 7vw; line-height: 6vw; letter-spacing: 0.7vw; transform: scaleY(1.1);}}
@media all and (max-width: 450px) {article h1 {font-size: 7.6vw; line-height: 7vw; letter-spacing: 0.7vw; transform: scaleY(1.2);}}
/* prose-main -- Название книги */
article h2 {font-family: helv; font-weight: 900; font-variant: small-caps; color: #444;}
@media all and (min-width: 700px) {article h2 {font-size: 35px; line-height: 25px; letter-spacing: 2px; transform: scaleX(1.15);}}
@media all and (min-width: 450px) and (max-width: 700px) {article h2 {font-size: 7vw; line-height: 6vw; letter-spacing: 0.7vw; transform: scaleY(1.2);}}
@media all and (max-width: 450px) {article h2 {font-size: 7.6vw; line-height: 7vw; letter-spacing: 0.7vw; transform: scaleY(1.4);}}
/* prose-main -- Подзаголовок статьи */
article h3 {font-family: helv; font-size: 18px; font-weight: 700; line-height: 18px; letter-spacing: 1px; color: #333;}
/* prose-main --  Жанр книги */
article h4 {font-family: helv; font-weight: 500; font-size: 18px; line-height: 20px; letter-spacing: 1px; color: #006699;}
/* Основной шрифт */
article p {font-family: helv; font-weight: 400; font-size: 16px; color: var(--t);}
/* Стиль для линков */
article a { color: steelblue; text-decoration: none;}
article a:hover { color: skyblue; text-decoration: underline; }
article a:visited { color: steelblue; text-decoration: none; }
article a:visited:hover { color: skyblue; text-decoration: underline; }
