@font-face{
font-family: 'robotoslab';
src: url('fonts/robotoslab.eot');
src: url('fonts/robotoslab.eot?iefix') format('eot'),
url('fonts/robotoslab.woff') format('woff'),
url('fonts/robotoslab.ttf') format('truetype'),
url('fonts/robotoslab.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@media all and (min-width: 700px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 1vw 1vw 0.6vw 1vw;
	border-radius: 8px;
    	width: 98%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 13.5vw;
}
.ifr1 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 13.5vw;
}
.ifr2 {
	display: none;
}
.header-menu {
	display: none;
} }
@media all and (min-width: 550px) and (max-width: 699.9px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 2vw 2% 1vw 2%;
	border-radius: 8px;
    	width: 96%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 29vw;
	position: relative;
   }
.ifr1 {
	display: none;
   }
.ifr2 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 29vw;
}
h99 {
	font-family: robotoslab;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 30px;
	color: gainsboro;
	margin-top: -30px;
	text-shadow: black 0 0 3px;
	font-variant: small-caps;
 }
.header-menu {
	margin: 0px 0px 0px 0;
	padding: 0;
	display: block;
	width: 240px;
	background-color: rgba(60, 200, 200, 0.3);
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-align: center; /* Растягиваем текст */
	position: absolute;
	z-index: 900;
	right: 5vw;
	top: 22vw;
}
.header-menu:hover {
	background-color: #3F6F6F;
}
.header-menu div.m-title {
	margin: 2px;
	display: inline-block;
	width: 90%;
	height: 30px;
	background-image: url(../img/menu-sign.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
	text-align: left;
}
.header-menu:hover div.m-title {
	background-image: url(../img/menu-sign-hover.png);
}
.header-menu iframe {
	display: none;
}
.header-menu:hover iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0 0 8px 8px;
	height: 80px; /* Если включить все кнопки высота 220px */
	z-index: 990;
	border-top: 2px solid #1f1f1f;
} }

@media all and (min-width: 490px) and (max-width: 549.9px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 2vw 2% 1vw 2%;
	border-radius: 8px;
    	width: 96%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 35vw;
   }
.ifr1 {
	display: none;
   }
.ifr2 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 35vw;
   }
h99 {
	font-family: robotoslab;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 30px;
	color: gainsboro;
	margin-top: -30px;
	text-shadow: black 0 0 3px;
	font-variant: small-caps;
 }
.header-menu {
	margin: 0px 0px 0px 0;
	padding: 0;
	display: block;
	width: 240px;
	background-color: rgba(60, 200, 200, 0.3);
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-align: center; /* Растягиваем текст */
	position: absolute;
	z-index: 900;
	right: 5vw;
	top: 28vw;
}
.header-menu:hover {
	background-color: #3F6F6F;
}
.header-menu div.m-title {
	margin: 2px;
	display: inline-block;
	width: 90%;
	height: 30px;
	background-image: url(../img/menu-sign.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
	text-align: left;
}
.header-menu:hover div.m-title {
	background-image: url(../img/menu-sign-hover.png);
}
.header-menu iframe {
	display: none;
}
.header-menu:hover iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0 0 8px 8px;
	height: 80px; /* Если включить все кнопки высота 220px */
	z-index: 990;
	border-top: 2px solid #1f1f1f;
} }
@media all and (min-width: 420px) and (max-width: 489.9px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 2vw 2% 1vw 2%;
	border-radius: 8px;
    	width: 96%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 40vw;
   }
.ifr1 {
	display: none;
   }
.ifr2 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 40vw;
   }
h99 {
	font-family: robotoslab;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 30px;
	color: gainsboro;
	margin-top: -30px;
	text-shadow: black 0 0 3px;
	font-variant: small-caps;
 }
.header-menu {
	margin: 0px 0px 0px 0;
	padding: 0;
	display: block;
	width: 200px;
	background-color: rgba(60, 200, 200, 0.3);
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-align: center; /* Растягиваем текст */
	position: absolute;
	z-index: 900;
	right: 5vw;
	top: 31vw;
}
.header-menu:hover {
	background-color: #3F6F6F;
}
.header-menu div.m-title {
	margin: 2px;
	display: inline-block;
	width: 90%;
	height: 30px;
	background-image: url(../img/menu-sign.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
	text-align: left;
}
.header-menu:hover div.m-title {
	background-image: url(../img/menu-sign-hover.png);
}
.header-menu iframe {
	display: none;
}
.header-menu:hover iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0 0 8px 8px;
	height: 80px; /* Если включить все кнопки высота 236px */
	z-index: 990;
	border-top: 2px solid #1f1f1f;
} }
@media all and (min-width: 376px) and (max-width: 419px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 4vw 4% 1vw 4%;
	border-radius: 8px;
    	width: 92%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 45vw;
   }
.ifr1 {
	display: none;
   }
.ifr2 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 45vw;
   }
h99 {
	font-family: robotoslab;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 30px;
	color: gainsboro;
	margin-top: -30px;
	text-shadow: black 0 0 3px;
	font-variant: small-caps;
 }
.header-menu {
	margin: 0px 0px 0px 0;
	padding: 0;
	display: block;
	width: 86%;
	background-color: rgba(60, 200, 200, 0.3);
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-align: center; /* Растягиваем текст */
	position: absolute;
	z-index: 900;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 38vw;
}
.header-menu:hover {
	background-color: #3F6F6F;
}
.header-menu div.m-title {
	margin: 2px;
	display: inline-block;
	width: 90%;
	height: 30px;
	background-image: url(../img/menu-sign.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
	text-align: left;
}
.header-menu:hover div.m-title {
	background-image: url(../img/menu-sign-hover.png);
}
.header-menu iframe {
	display: none;
}
.header-menu:hover iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0 0 8px 8px;
	height: 80px; /* Если включить все кнопки высота 224px */
	z-index: 990;
	border-top: 2px solid #1f1f1f;
} }
@media all and (max-width: 375px) {
header {
	display: flex;
    	padding: 0px 0px 0px 0px; /* Поля */
    	margin: 4vw 4% 1vw 4%;
	border-radius: 8px;
    	width: 92%; /* Ширина сайдбара в процентах */
    	float: center; /* Обтекание слева */
    	text-align: center;
	height: 50vw;
   }
.ifr1 {
	display: none;
   }
.ifr2 {
	flex-grow: 1;
	border: 0;
	border-radius: 8px;
	height: 50vw;
    	width: 92%;
   }
h99 {
	font-family: robotoslab;
	font-size: 6vw;
	letter-spacing: 1vw;
	font-weight: 100;
	line-height: 9vw;
	color: gainsboro;
	text-shadow: black 0 0 3px;
	font-variant: small-caps;
 }
.header-menu {
	margin: 0px 0px 0px 0;
	padding: 0;
	display: block;
	width: 86%;
	background-color: rgba(60, 200, 200, 0.3);
	border-radius: 8px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
	text-align: center; /* Растягиваем текст */
	position: absolute;
	z-index: 900;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
	top: 41vw;

}
.header-menu:hover {
	background-color: #3F6F6F;
}
.header-menu div.m-title {
	margin: 2px;
	display: inline-block;
	width: 90%;
	height: 9vw;
	background-image: url(../img/menu-sign.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 100%;
	text-align: left;
}
.header-menu:hover div.m-title {
	background-image: url(../img/menu-sign-hover.png);
}
.header-menu iframe {
	display: none;
 }
.header-menu:hover iframe {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0 0 8px 8px;
	height: 80px; /* Если включить все кнопки высота 224px */
	z-index: 990;
	border-top: 2px solid #1f1f1f;
} }
