   body {    margin: 0;  }

/* Заголовок статьи */
   h1 {    font-family: Georgia; font-size: 30pt;   letter-spacing: 5px; font-style: bold;  font-variant: small-caps; transform: scaleY(2); color: #000000;  margin-top: 1em; 
    margin-bottom: 1em; } 

/* Подзаголовок статьи */
   h2 {    font-family: Georgia; font-size: 20pt;  font-weight: normal; line-height: 20pt;  letter-spacing: 2px; color: #000000;    } 

/* Подзаголовок для анкеты*/
   h3 {    font-family: Arial; font-size: 14pt;  line-height: 0pt;  font-style: normal;  font-weight: 600; color: #000000; } 

/* Основной шрифт */
   p {    font-family: Arial;  font-size: 13pt;   color: #000000;   }

/* Курсивный шрифт для подписи картинки */
   p1 {    font-family: Arial; font-size: 11pt;  line-height: 0pt;  font-style: normal;  font-weight: 100;  font-style: italic; color: #000000;  } 

/* Шрифт для анкеты */
   p2 {    font-family: Arial; font-size: 11pt;  line-height: 0pt;  font-style: normal;  font-weight: 100; color: #000000;  } 

/* Жирный шрифт для анкеты */
   p3 {    font-family: Arial; font-size: 11pt;  line-height: 0pt;  font-style: normal;  font-weight: 600; color: #000000;  } 

/* Настройки для сайдбара */
   .sidebar {    min-width: 200px;    margin: 0px 0px 0px 0;   padding: 0px 0px 0px 0px;}


/* Настройки для левосторонней рамки с картинкой */
   .leftimg {    margin: 7px 15px 15px 0;   padding: 5px 5px 5px 5px;  min-width: 270px;   }

/* Настройки для правосторонней рамки с картинкой */
   .rightimg  {    margin: 7px 0 15px 15px;   padding: 5px 5px 5px 5px; border-radius: 0px;    min-width: 270px;   }

/* Общие настройки для ячейки текстового блока */
.text-block {padding: 5px 20px 15px 20px; border-radius: 0px; text-align: justify; }

/* Настройки для ячеек подзаголовков анкет */
.mini-text-block {padding: 0px 0px 0px 0px; border-radius: 0px;}

/* Настройки для cпойлеров */
   .table-sp {    margin: 0px 0px 0px 0;   padding: 0px 0px 0px 0px;   min-width: 430px;     }

input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
 display: block;
 width: 94%;
 margin: 0 auto;
 padding: 1px 20px;
 background: #A9A9A9;
 color: #000000;
 text-align: left;
 font-size: 24px;
 border-radius: 0px;
 cursor: pointer;
 transition: all .6s;
}
input[id^="spoiler"]:checked + label {
 color: #333;
 background: #6495ED;
}
input[id^="spoiler"] ~ .spoiler {
 width: 94%;
 height: 0;
 overflow: hidden;
 opacity: 0;
 margin: 10px auto 0; 
 padding: 10px; 
 border: 1px solid #ccc;
 border-radius: 0px;
 transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
 height: auto;
 opacity: 1;
 padding: 10px;
}