
@font-face{
font-family: 'wash';
src: url('../fonts/wash.eot');
src: url('../fonts/wash.eot?iefix') format('eot'),
url('../fonts/wash.woff') format('woff'),
url('../fonts/wash.ttf') format('truetype'),
url('../fonts/wash.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'arba';
src: url('../fonts/arba.eot');
src: url('../fonts/arba.eot?iefix') format('eot'),
url('../fonts/arba.woff') format('woff'),
url('../fonts/arba.ttf') format('truetype'),
url('../fonts/arba.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'helios';
src: url('../fonts/helios.eot');
src: url('../fonts/helios.eot?iefix') format('eot'),
url('../fonts/helios.woff') format('woff'),
url('../fonts/helios.ttf') format('truetype'),
url('../fonts/helios.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}


/* Тело всего сайта*/
body {
background: #DCDCDC; /* Цвет фона */
margin: 0;   /* Жмем страницу к краям */
overflow-x:hidden;  /*для горизонтального*/
}


article {
display: flex;
flex-direction: column;
padding: 0; /* Поля */
width: 100%;
 justify-content: center;
 max-width: 800px;
 margin: 0 auto;
}

.section-simbol {
			width: 110px;
      height: 35px;
			background-image: url(section.png);
			margin: 22px auto 6px auto;
			opacity: 0.9;
      background-repeat: no-repeat;
      background-size: 100% 100%;
		}

h1 {
	font-family: arba;
	font-size: 26px;
	line-height: 34px;
	letter-spacing: 8px;
	font-style: normal;
	color: #1f1f1f;
	margin: 40px 0 20px 0;
	text-align: center;
	text-decoration: none;
	transform: scaleY(2);
}

h2 {
	font-family: arba;
	font-size: 34px;
	line-height: 44px;
	letter-spacing: 3px;
	font-style: normal;
	color: #1f1f1f;
	margin: 20px 0 40px 0;
	text-align: center;
	text-decoration: none;
	transform: scaleY(1.4);
}

h3 {
	font-family: arba;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 2px;
	font-style: normal;
	color: #1f1f1f;
	margin: 40px 0 10px 0;
	text-align: center;
	text-decoration: none;
}

h4 {
	font-family: helios;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 2px;
	font-style: normal;
	color: #1f1f1f;
	margin: 10px 0 40px 0;
	text-align: center;
	text-decoration: none;
}


a { color: #1f1f1f; text-decoration: none;}
a:hover { color: #1f1f1f; text-decoration: none; }
a:visited { color: #1f1f1f; text-decoration: none; }
a:visited:hover { color: #1f1f1f; text-decoration: none; }


.forward-to-next,
.back-to-lib-main {text-decoration: none;}
.forward-to-next:hover,
.back-to-lib-main:hover {text-decoration: none;}
.forward-to-next:visited,
.back-to-lib-main:visited {text-decoration: none;}
.forward-to-next:visited:hover,
.back-to-lib-main:visited:hover {text-decoration: none;}

.back-to-lib-main:hover > h5 {
  transition: .5s;
  color: #7CFC00;
  text-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
  transform: scaleY(1.1);
}

.forward-to-next:hover > h6 {
  text-decoration: none;
  transition: .5s;
  color: #7CFC00;
  transform: scaleY(1.1);
  text-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
}

h5::before {
  content: "\21A9";
font-size: 24px;
margin-right: 30px;
vertical-align:-2px;
}

h5 {
font-family: wash;
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
color: blue;
margin: 14px 0;
text-align: center;
text-decoration: none;
    transition: .5s;
}




h6 {
  font-family: arial;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  font-style: bold;
  font-variant: normal;
  color: blue;
  margin: 10px 0 ;
  text-align: center;
  text-decoration: none;
}

h6:after {
  content: "\27A5";
vertical-align:-0.4vw;
  text-align: right;
  margin-left: 30px;
}


p {
	font-family: arial;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	font-style: normal;
	color: #1f1f1f;
	margin: 0 70px;
	text-align: justify;
	text-decoration: none;
	text-indent: 35px;
}

p.epigraph {
	font-family: Georgia;
	font-size: 17px;
	line-height: 33px;
	letter-spacing: 1px;
	font-style: italic;
	color: #1f1f1f;
	margin: 0 120px 0 0;
	text-align: right;
	text-decoration: none;
	text-indent: 0;
	transform: scaleY(1.4);
}

p.epigraph-author {
	font-family: Georgia;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: 600;
	color: #1f1f1f;
	margin: 0 120px 30px 0;
	text-align: right;
	text-decoration: none;
	text-indent: 0;
	transform: scaleY(1.4);
}
