
@font-face{
font-family: 'wash';
src: url('../fonts/wash.eot');
src: url('../fonts/wash.eot?iefix') format('eot'),
url('../fonts/wash.woff') format('woff'),
url('../fonts/wash.ttf') format('truetype'),
url('../fonts/wash.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'arba';
src: url('../fonts/arba.eot');
src: url('../fonts/arba.eot?iefix') format('eot'),
url('../fonts/arba.woff') format('woff'),
url('../fonts/arba.ttf') format('truetype'),
url('../fonts/arba.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'helios';
src: url('../fonts/helios.eot');
src: url('../fonts/helios.eot?iefix') format('eot'),
url('../fonts/helios.woff') format('woff'),
url('../fonts/helios.ttf') format('truetype'),
url('../fonts/helios.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}


/* Тело всего сайта*/
body {
background: #DCDCDC; /* Цвет фона */
margin: 0;   /* Жмем страницу к краям */
overflow-x:hidden;  /*для горизонтального*/
}

article {
display: flex;
flex-direction: column;
padding: 0; /* Поля */
width: 100%;
 justify-content: center;
}

a { color: blue; text-decoration: none;}
a:hover { color: #006400; text-decoration: none; }
a:visited { color: #8A2BE2; text-decoration: none; }
a:visited:hover { color: #006400; text-decoration: none; }

.back-to-lib-main {text-decoration: none;}
.back-to-lib-main:hover {text-decoration: none;}
.back-to-lib-main:visited {text-decoration: none;}
.back-to-lib-main:visited:hover {text-decoration: none;}

.back-to-lib-main:hover > h4 {
  transition: .5s;
  color: #7CFC00;
  text-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
  transform: scaleY(1.1);
}

h4::before {
  content: "\21A9";
font-size: 24px;
margin-right: 30px;
vertical-align:-2px;
}

h4 {
font-family: wash;
font-size: 16px;
line-height: 28px;
letter-spacing: 3px;
color: blue;
margin: 10px;
text-align: center;
text-decoration: none;
    transition: .5s;
}





p {
font-family: arial;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2px;
font-style: bold;
color: #1f1f1f;
margin: 20px 70px 0 70px;
text-align: justify;
text-decoration: none;
text-indent: 20px;
}



@media all and (min-width: 780px) {
  .contents {
    align-self: center;
    width: 780px;
  }
  .book-img-block-extended {
    align-self: center;
    width: 650px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
  }
  h1 {
  font-family: arba;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 3px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  }
  h2 {
  font-family: arial;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 3px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  }
  h3 {
  font-family: helios;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 2px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 30px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  }
}
@media all and (max-width: 779.9px) {
  .contents {
    align-self: center;
    width: 600px;
  }
  .book-img-block-extended {
    align-self: center;
    width: 450px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
  }
  h1 {
  font-family: arba;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 1px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  }
  h2 {
  font-family: arial;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 1px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  }
  h3 {
  font-family: helios;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
  font-style: bold;
  font-variant: small-caps;
  color: #1f1f1f;
  margin: 30px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 70px;
  margin-left: 30px;
  margin-bottom: 80px;
  margin-top: 0;
}
li {
  display: block;
  padding: 10px;
  margin: 2px;
  border-bottom: solid 2px gray;
}
li > a > .big-link,
li > .big-link {
  font-family: arial;
  font-size: 22px;
  line-height: 0;
  letter-spacing: 1px;
  font-style: bold;
  font-variant: normal;
  color: #1f1f1f;
  margin: 10px 0 ;
  text-align: left;
  text-decoration: none;
}
li > a > h3,
li > a > .big-link  {
  color: blue;
}
li > a > h3:hover,
li > a > .big-link:hover  {
  text-decoration: none;
  transition: .5s;
  color: #7CFC00;
  transform: scaleY(1.1);
  text-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
}

li > .big-link  {
  color: #1f1f1f;
}

li > a > h3:after,
li > a > .big-link::after {
  display: inline-block;
  content: "\27A5";
vertical-align:-0.4vw;
  text-align: right;
  flex-grow: 1;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
}
li > a > h3 {
  font-family: arial;
  font-size: 16px;
  line-height: 0;
  letter-spacing: 0.6px;
  font-style: bold;
  font-variant: normal;
  margin: 0;
  text-align: left;
  text-decoration: none;
}


p1 {
font-family: Georgia;
font-size: 2vw;
line-height: 4vw;
letter-spacing: 0.1vw;
font-style: bold;
font-variant: small-caps;
color: #f1f1f1;
margin: 5vw;
text-align: center;
text-decoration: none;
text-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
}


.book-img-block-simple {
    align-self: center;
    width: 220px;
    margin: 20px;
    transition: .5s;
}
.book-img-block-simple:hover {
    transform: scale(1.1);
    transition: 1s;
}
.book-img-block-simple:hover > a {
          cursor:pointer;
}
.book-img-block-simple:hover > a > .book-title-img {
    box-shadow: 0 0 25px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
    transition: 1s;
}


.book-alt-img-block {
  flex-grow: 1;
  margin: 0 10px;
      transition: .5s;
}
.book-alt-img-block:hover {
  transform: scale(1.1);
  transition: 1s;
}
.book-alt-img-block:hover > a {
          cursor:pointer;
}
.book-alt-img-block:hover > a > .book-alt-img {
    box-shadow: 0 0 25px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
    transition: 1s;
    z-index: 1;
}
.book-alt-img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
}

      .img-zoom-shadow {
        z-index: 990;
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
      }
      .img-zoom {
        z-index: 992;
        width: auto;
        height: 88%;
        text-align: center;
        padding: 15px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto auto auto;
      }
      .img-zoom > .book-title-img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 0 60px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
      }

      #izs1 {        display: none;      }
      #izs1:target {        display: block;      }
      #izs2 {        display: none;      }
      #izs2:target {        display: block;      }
      #izs3 {        display: none;      }
      #izs3:target {        display: block;      }
      #izs4 {        display: none;      }
      #izs4:target {        display: block;      }
      #izs5 {        display: none;      }
      #izs5:target {        display: block;      }
      #izs6 {        display: none;      }
      #izs6:target {        display: block;      }
      #izs7 {        display: none;      }
      #izs7:target {        display: block;      }
      #izs8 {        display: none;      }
      #izs8:target {        display: block;      }
      #izs9 {        display: none;      }
      #izs9:target {        display: block;      }

      .close {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        top: 0;
        right: 2vw;
        bottom: 0;
        left: auto;
        margin: 10px;
        background: #f1f1f1;
        border-radius: 18px;
        cursor:pointer;
        background-image: url(close.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 0 0 20px #1f1f1f, inset 0 0 3px #1f1f1f;
      }
      .close:hover {
        background: tan;
        transform: scale(1.1);
        background-image: url(close.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        }
        .left-next {
          display: block;
          position: absolute;
          height: 120px;
          width: 50px;
          top: 0;
          right: auto;
          bottom: 0;
          left: 2vw;
          margin: auto;
          cursor:pointer;
          background-image: url(left-blank.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        .left-next:hover {
          background-image: url(left-tan.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: scale(1.1);
        }
        .right-next {
          display: inline-block;
          position: absolute;
          height: 120px;
          width: 50px;
          top: 0;
          right: 2vw;
          bottom: 0;
          left: auto;
          margin: auto;
          cursor:pointer;
          background-image: url(right-blank.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        .right-next:hover {
          background-image: url(right-tan.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: scale(1.1);
        }
        .title-text {
          display: block;
          position: absolute;
          width: 100%;
          top: auto;
          right: auto;
          bottom: 0;
          left: auto;
          background: rgba(102, 102, 102, 0.85);
          text-align: center;
          z-index: 999;
        }

.book-title-img {
  width: 100%;
     border-radius: 4px;
     box-shadow: 0 0 5px #1f1f1f, -1px 0 #1f1f1f, 0 1px #1f1f1f, 1px 0 #1f1f1f, 0 -1px #1f1f1f;
     }
